.nav__btn {
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: $font-color;
  font-size: $button-font-size;

  &:hover {
    color: $button-active;
  }
}
// temporar
.nav__btn--active {
  color: $button-active;
  opacity: 1;
}
