// COLORS
$color-pink: #fe7fc2;
$color-green: #00a652;
$color-blue: #006dfe;
$card-border-color: #bfcade;
$font-color: #212830;
$button-active: #fe520c;

// FONT
$button-font-size: 1.2rem;
$description-font-size: 1.7rem;
